---
import Navbar from "../components/client/Navbar.jsx";
import SignUpDialog from "../components/client/SignUpDialog.jsx";
import Page from "../components/payload/collections/Page.astro";
import { getPages } from "../services/payload.js";

// export function getStaticPaths() {
//   return [
//     // Generiert: /hunde/rocky
//     {params: {hund: 'rocky'}},
//     // Generiert: /hunde/luna
//     {params: {hund: 'luna'}},
//     // Generiert: /hunde/rex
//     {params: {hund: 'rex'}},
//   ];
// }


const { slug } = Astro.params;

const allPageData = await getPages();
const pageData = allPageData.docs.find(x => x.slug == slug);

---


<html lang="en">
  <head>
    <title>Storyblok & Astro</title>
  </head>
  <body>
    <SignUpDialog client:only="react"></SignUpDialog>
    <Navbar client:only="react"></Navbar>
    <Page page={pageData}></Page>
  </body>
</html>