---
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

export async function getStaticPaths() {
  const storyblokApi = useStoryblokApi();
  
  const { data } = await storyblokApi.get("cdn/links", {
    version: "draft",
  });
  let links = data.links;
  links = Object.values(links);

  links = links.filter((link : any) => link.slug.includes("module/"));

  return links.map((link : any) => {
    return {
      params: { slug: link.slug.split('/')[1] },
    };
  });
}

const { slug } = Astro.params;

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get(`cdn/stories/module/${slug}`, {
  version: "draft",
});

const story = data.story;
---
<p>MODULE</p>
<StoryblokComponent blok={story.content} />