---
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import Navbar from '../components/Navbar.jsx';

const { blok } = Astro.props
---


<main {...storyblokEditable(blok)}>
  <!-- <Navbar client:load></Navbar> -->
  {blok.body?.map((blok : any) => {return <StoryblokComponent blok={blok} />})}
</main>