---
import { storyblokEditable } from '@storyblok/astro';
import Pocketbase from '../components/Pocketbase.svelte';

const { blok } = Astro.props
---

<p class="text-green-500">POCKETBASE</p>
<Pocketbase client:load></Pocketbase>