---
import Button from './components/Button.astro';
import Text from './components/Text.astro';

interface Props {
  block: any,
}

const { block } = Astro.props;

---

{block.blockType == "Button" &&
<>
  <Button block={block}></Button>
</>
}

{block.blockType == "Text" &&
<>
  <Text block={block}></Text>
</>
}
