---
import HeroBlock from './blocks/HeroBlock.astro';
import Button from './components/Button.astro';
import Link from './components/Link.astro';
import Text from './components/Text.astro';

interface Props {
  block: any,
}

const { block } = Astro.props;

---

{block.blockType == "Button" &&
<>
  <Button block={block}></Button>
</>
}

{block.blockType == "Text" &&
<>
  <Text block={block}></Text>
</>
}

{block.blockType == "Link" &&
<>
  <Link block={block}></Link>
</>
}

{block.blockType == "Hero" &&
<>
  <HeroBlock block={block}></HeroBlock>
</>
}