---
import type { Page } from '../../../../../payload/src/payload-types';
import Block from '../Block.astro';

interface Props {
  page: Page | undefined,
}

const { page } = Astro.props;



---

{page ? 
<>
  {page.content?.map((block) => (

    <Block block={block}></Block>

  ))}
</>
:
<>
<p>keine Page geladen</p>
</>
}
